{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>User Profile</title>
        <meta charset="utf8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/sepia.css' %}">
    </head>

    <body>
        <h1>User {{username}}</h1>
        <h2>Released artworks</h2>
        <ul>
            <li>Oscar Wilster: Secrets everywhere!</li>
            <li>Chinkvichento</li>
            <li>Atlantide</li>
            <li>Everlasting service</li>
        </ul>

        <h2>Current projects</h2>
        <ul>
            <li>Kosmomahach: Taras Bulba</li>
            <li>Kosmomahach: Guns of Oink-Oink</li>
            <li>IT'sMOre, than students!</li>
        </ul>
    </body>
    <h1>shut up, man!</h1>
</html>